// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.gsc-input {
    width: 300px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 110px;
    background-color: #343a40;
    color: rgb(167, 167, 167);
    display: block;
    text-align: center;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .row{
    justify-content: center;
  }
  
  .container > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .navbar-brand{
      font-size: 1.8rem;
      font-weight: bold;
  }

  .col-md-8 > .container{
      margin-bottom: 2rem;
      background-color: #e9ecef;
      border-radius: 0.3rem;
  }

  a{
      color: #ff00ae;
  }

  .aboutUs{
    margin-left: 80px;
  }
  
  .socials{
    margin-right: 80px;
  }
  
  .socials > p{
      margin: 0;
  }


$white: #ece8e1;
$pink: #ff4655;
$height: 54px;
$transition: 0.3s ease-out all;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    & a {
      width: 100%;
      max-width: 740px;
      height: $height;
      padding: 8px;
      font-size: 0.8rem;
      font-weight: 900;
      color: $pink;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      box-shadow: 0 0 0 1px inset rgba($white, 0.3);
      position: relative;
      margin: 10px 0;
      &.white:hover > p {
        color: $white;
      }
      &.white > p {
        background: $white;
        & span.base {
          border: 1px solid transparent;
        }
      }
      &.transparent:hover > p {
        color: $white;
        & span.text {
          box-shadow: 0 0 0 1px $white;
        }
      }
      &.transparent > p {
        color: $white;
        & span.base {
          border: 1px solid $white;
        }
      }
      &:after,
      &:before {
        content: "";
        width: 1px;
        position: absolute;
        height: 8px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &:before {
        right: 0;
        left: initial;
      }
      & p {
        margin: 0;
        height: $height;
        line-height: $height;
        box-sizing: border-box;
        z-index: 1;
        left: 0;
        width: 100%;
        position: relative;
        overflow: hidden;
        & span.base {
          box-sizing: border-box;
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          left: 0;
          border: 1px solid $pink;
          &:before {
            content: "";
            width: 2px;
            height: 2px;
            left: -1px;
            top: -1px;
            position: absolute;
            transition: $transition;
          }
        }
        & span.bg {
          left: -5%;
          position: absolute;
          background: $pink;
          width: 0;
          height: 100%;
          z-index: 3;
          transition: $transition;
          transform: skewX(-10deg);
        }
        & span.text {
          z-index: 4;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          &:after {
            content: "";
            width: 4px;
            height: 4px;
            right: 0;
            bottom: 0;
            position: absolute;
            transition: $transition;
            z-index: 5;
          }
        }
      }
      &:hover {
        color: $white;
        & span.bg {
          width: 110%;
        }
        & span.text:after {
          background: $white;
        }
      }
    }
  }